/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 2 versions
*/

html {
  height: 100%;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  color: #000000;
  background: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  background-color: rgba(255, 255, 255);
  margin: 0 auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-header {
  position: relative;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 70px;
}

.header-logo:hover {
  opacity: 0.6;
}

.header-logo:focus {
  outline: none;
  opacity: 0.6;
}

.header-logo:active {
  opacity: 0.3;
}

.main-header-nav {
  display: flex;
  justify-content: space-between;
  padding-left: 238px;
  padding-right: 70px;
  align-items: flex-start;
}

.main-index {
  flex-grow: 1;
}

.site-navigation {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  width: 500px;
  flex-wrap: wrap;
}

.siti-menu-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  position: relative;
  display: block;
  color: #000000;
  padding: 20px 16px;
}

.siti-menu-link:hover {
  color: #756157;

}

.siti-menu-link:focus {
  outline: none;
  color: #756157;
}

.siti-menu-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.siti-menu-link-active::after {
  content: "";
  width: 68px;
  height: 3px;
  background: #756257;
  position: absolute;
  bottom: -2px;
  left: 16px;
}

.catalog::after {
  content: "";
  width: 94px;
  height: 3px;
  background: #756257;
  position: absolute;
  bottom: -2px;
  left: 16px;
}

.navigation-user {
  margin: 0;
  padding: 14px 0 13px;
  list-style: none;
  display: flex;
  align-items: flex-start;
  width: 350px;
  flex-wrap: wrap;
  justify-content: flex-end;
  row-gap: 10px;
}

.navigation-user-link-search {
  width: 44px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
}

.navigation-user-link-search:hover {
  color: #756157;
}

.navigation-user-link-search:focus {
  outline: none;
  color: #756157;
}

.navigation-user-link-search:active {
  color: rgba(117, 97, 87, 0.3);
}

.favourite {
  width: 44px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ffffff;
  color: #000000;
}

.favourite:hover {
  color: #756157;
}

.favourite:focus {
  outline: none;
  color: #756157;
}

.favourite:active {
  color: rgba(117, 97, 87, 0.3);
}

.notification-badge {
  position: absolute;
  top: -3px;
  right: 4px;
  font-size: 10px;
  font-weight: 400;
  line-height: 10px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  background: #7db54f;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 3px;
  box-sizing: border-box;
}

.wish {
  display: block;
  min-width: 160px;
  padding: 8px 7px;
  background: #756157;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  margin-left: 20px;
}

.wish {
  background-color: #756157;
}

.wish:hover {
  background-color: #615048;
}

.wish:focus {
  background-color: #615048;
  outline: none;
}

.wish:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.302);
}

.welcome {
  background-color: #79909e;
  background-image: url("../img/Vector.svg"), url("../img/index-background.jpg");
  padding-top: 51px;
  padding-bottom: 82px;
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left bottom, left top;
  width: 1200px;
  min-height: 485px;
  box-sizing: border-box;
}

.welcome-image {
  display: block;
  margin: 0 auto;
}

.slogan {
  padding-top: 68px;
}

.slogan-caption {
  margin: 0 auto 26px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 620px;
  background-color: #ffffff;
}

.slogan-text {
  margin: 0 auto 90px;
  padding: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  width: 700px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-title {
  margin: 0 auto 32px;
  padding: 0 0 30px;
  list-style: none;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  width: 171px;
  position: relative;
}

.advantages-title::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
}

.blok-1 .advantages-title::before {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-texts {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  width: 237px;
}

.advantages-list-item {
  min-height: 385px;
  box-sizing: border-box;
  display: flex;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.1);
}

.advantages-container {
  width: 400px;
  padding-top: 113px;
  padding-bottom: 96px;
}

.blok-1 .advantages-container {
  background-color: #82b3d3;
  color: #ffffff;
  padding-top: 103px;
  padding-bottom: 96px;
}

.reviews {
  padding-top: 64px;
}

.title-2 {
  margin: 0 auto 20px;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 505px;
  background-color: #ffffff;
}

.reasons {
  margin: 0 auto 90px;
  padding: 0;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  width: 490px;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.features-list-item {
  width: 400px;
  min-height: 358px;
  box-sizing: border-box;
  padding: 158px 0 76px;
  background-color: rgba(131, 179, 211, 0.122);
  background-repeat: no-repeat;
}

.features-list-item:nth-child(2n) {
  background-color: #ffffff;
}

.features-title {
  margin: 0 auto 31px;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  width: 200px;
}

.house {
  background-image: url("../img/house-icon.svg");
  background-position: center 55px;
}

.burger {
  background-image: url("../img/burger-icon.svg");
  background-position: center 56px;
}

.souvenir {
  background-image: url("../img/souvenir-icon.svg");
  background-repeat: no-repeat;
  background-position: center 53px;
}

.features-description {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
  width: 230px;
}
.search {
  text-align: center;
  padding-top: 97px;
  padding-bottom: 96px;
  width: 592px;
  margin: 0 auto;
}

.search-title {
  margin: 0 0 20px;
  padding: 0;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.search-reasons{
  margin: 0 0 54px;
  list-style: none;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  display: block;
}

.search-button {
  display: block;
  min-width: 376px;
  padding: 8px 20px;
  background: #756157;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0 auto;
  width: 376px;
}

.search-button:hover {
  background-color: #615048;
}

.search-button:focus {
  background-color: #615048;
  outline: none;
}

.search-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.302);
}
.newsletter {
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
  width: 592px;
  margin: 0 auto;
}
.newsletter-index {
  background-color: #79909e;
  background-size: cover;
  background-image: url("../img/subscribe.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #ffffff;
}

.title-4 {
  margin: 0 auto 20px;
  padding: 0;
  list-style: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  width: 600px;
}
.reasons-2{
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  display: block;
  margin: 0 auto 55px;
  padding: 0;
  width: 600px;
}
.newsletter-form{
  width: 684px;
  display: flex;
  margin: 0 auto;
}
.newsletter-input{
  width: 452px;
  min-height: 52px;
  border: none;
  border-radius: 4px 0 0 4px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-left: 20px;
  box-sizing: border-box;
  padding-right: 20px;
  background-color: #f2f2f2;
}
.newsletter-input:hover {
  background-color: #e6e6e6;
}

.newsletter-input:focus {
  outline: 3px solid #83b3d3;
}

.newsletter-input:active {
  outline: 3px solid #83b3d3;
}
.newsletter-button{
  font-size: 20px;
  font-weight: 700;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  width: 232px;
  border: none;
  background-color: #82b3d3;
  border-radius: 0 4px 4px 0;
  font-family: inherit;
}
.newsletter-button:hover {
  background-color: #68a2ca;
}

.newsletter-button:focus {
  background-color: #68a2ca;
  outline: none;
}

.newsletter-button:active {
  background-color: #82b3d3;
  color: rgba(255, 255, 255, 0.302);
}

footer {



















.main-container {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}


.page-container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  background: url("../img/index-background.jpg") lightgray 50% / cover no-repeat;
  color: #FFF;

}

.page-container-2 {
  width: 1200px;
  margin: 0 auto;
}

.filter {
  width: 1200px;
  padding: 35px 70px 70px 70px;
  height: 412px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 10px;
}

.infrastructure {
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;

}

.inner-header-title {
  width: 494px;
  height: 78px;
  margin: 0;
  font-family: "PT Sans";
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 78px;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 10px;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.filter-catalog {
  width: 1060px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  color: #FFF;
  font-family: "PT Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.page-footer-container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 20px;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;

}



.site-navigation-item hr {
  width: 68px;
  height: 2px;
  background: #756257;
  -webkit-transform: translateX(-105px)translateY(19px);
  transform: translateX(-105px)translateY(19px);
}

.navigation-link .site-navigation-2 {
  width: 93px;
  height: 2px;
  background: #756257;
  -webkit-transform: translateX(94px)translateY(19px);
  transform: translateX(94px)translateY(19px);
}

.navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 0;
  padding: 16px 20px;
  width: 339px;
}

.navigation-user-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 22px 12px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-user-item-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95px;
  padding: 8px 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  background: #756157;
  color: #fff;

}



a {
  color: #000;
  text-decoration: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1200px;
  padding: 69px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 25px;

}

.title {
  font-family: "PT Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0;
  height: 72px;
}


.target {
  background-color: rgba(0, 0, 0, 0.30);
  width: 60px;
  margin: 0 auto;
  border: 2px;
}


ul {
  list-style-type: none;
  padding: 0;
}

legend {
  font-family: "PT Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.type-of-housing {
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.features-description {
  margin: 0;
  text-align: center;
}

.submit .reset {
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
}

.sorting-container {
  color: #000000;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  margin: 0 auto;
  width: 1060px;

}

.sorting {
  font-family: "PT Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.amara {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 438px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 16px;
  border-radius: 4px;
  border: 1px solid #E6E6E6;
}

.hottel-title {
  color: #000;
  font-family: "PT Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
}

.hotel-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  color: #333;
  font-family: "PT Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.rating-mini {
  display: inline-block;
  font-size: 0;
  width: 140px;

}

.rating-mini span {
  padding: 0;
  font-size: 20px;
  line-height: 1;
  color: lightgrey;

}

.rating-mini > span:before {
  content: '★';
  color: #83B3D3;

}

.rating-mini-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

.rating-1 {
  color: #333;
  text-align: center;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  background: #F2F2F2;
  border-radius: 4px;
  width: 140px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.hotel-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 20px;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  width: 300px;
  text-align: center;
  font-family: "PT Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;


}

.hotel-button-link {
  padding: 8px;
  border-radius: 4px;
  background: #756157;
  color: #FFF;
  width: 140px;
}

.hotel-button-link-2 {
  padding: 8px;
  border-radius: 4px;
  background: #82B3D3;
  color: #FFF;
  width: 140px;
}

.hotel-button-link-3 {
  padding: 8px;
  border-radius: 4px;
  background: #7DB54F;
  color: #FFF;
  width: 140px;
}

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 1200px;
  height: 120px;
  margin: 0 auto;
  padding: 40px 70px 30px 70px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 142px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 0;
}

.phone {
  width: 331px;
  margin-left: 195px;
  margin-right: 194px;
  margin-top: auto;
  margin-bottom: auto;
  font-family: "PT Sans";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  text-transform: uppercase;
}

.logo {
  width: 115px;
  margin-top: auto;
  margin-bottom: auto;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  width: 1200px;
  height: 385px;
  margin: auto;
  margin-left: 0;
  margin-right: 0;

}

.features-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 385px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.features-title {
  font-family: "PT Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

.newsletter::before {
  content: '';
  position: absolute;
  z-index: -1;
  background-image: url("../img/index-background.jpg");
  width: 1200px;
  height: 414px;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

.catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 70px 60px 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  gap: 40px;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}


.catalog-hotel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 438px;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  gap: 20px;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  margin-top: 20px;
  margin-bottom: 40px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 1200px;
  height: 60px;
  gap: 8px;
  padding: 11.364px 18.545px 12.636px 18.455px;
  margin-top: 40px;
}


.pagination-link {
  color: #FFF;
  text-align: center;
  font-family: "PT Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  padding: 11.364px 18.545px 12.636px 18.455px;
  background: #82B3D3;
  border-radius: 4px;

}

.pagination-current {
  border-radius: 4px;
  background: #F2F2F2;
  color: black;
}

.pagination-current-2 {
  border-radius: 4px;
  color: #000;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  background: #FFFFFF;
}
